.nav{
    display: flex;
    column-gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-size: large;
    font-weight: bolder;
    padding: 30px;
    
}
.card {
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 2px black solid;
    width: 270px;
    height: 290px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.card:hover{
    box-shadow: 0 4px 5px 3px salmon;
}
.card img{
    width: 170px;
    height: 200px;
    padding-left: 15px;
    display: inline-block;
    

}
.card h5,p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
    display: grid;
    padding-left: 10px;
    margin: 5px 0;

    
}
.card-card{
    box-sizing: content-box;
    width: 270px;  
}
.card img:hover{
    scale: 1.1;

}
.card-footer{
    display: flex;
}
.card-footer img{
    width: 50px;
    height: 30px;


}
.main-card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    

}
.main-card :hover{
    scale: 1.01;
}

.logo{
    display: grid;
    gap: 10px;
    float: right;
}
.list p{  
    padding-top: 10px;
    
}
.list{
    margin-top: 20px;
    display: flex;
    gap: 50px;
    padding-left: 50px;
    justify-content: center;
    color: black;

}
.list p:hover{
    color: brown;
    scale: 1.07;
}
.media{
    color: white;
    display: flex;
    margin-top: 20px;
    background-color:black;
    
}
.footer{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    box-sizing: content-box;

}
.media-{
    margin-top: 50px;
    text-align: center;
    width: 500px;
    font-style: italic;
    font-family: serif;
}